/* ---- Default ---- */
html { /* Root element sets default setigns */
    font-size: 20px; 
    background-color: black;
    color: white;
    font: 20px "Barlow Semi Condensed", "Arial", sans-serif;
}

body { 
    padding-top: 70px; /* adjust this value to match your nav height */
}
/* ---- Navigation Bar ---- */
#logoText{ /* Logo text styling */
    font-weight: 1000;
    font-size: 40px;
    padding: 0;
    margin: 0;
}

nav > ul { /* Navigation bar list styling */
    list-style-type: none;
    float: right;
    margin: 0;
    padding: 0;
    color: red;
}

nav > ul > li{ /* Navigation bar list item styling */
    display: inline-block;
    padding-top: 10px;
}

nav { /* Navigation bar styling */
    padding: 10px;
    position: fixed;
    top: 0px;
    width: 99%;
    align-items: center;
    justify-content: center;
    background: rgb(7, 7, 7);
    border-bottom: solid 1px red
}

nav > ul > li > a{ /* Navigation bar link styling */
    padding: 10px;
    color: red;
    text-decoration: none;
}

nav > ul > li > a:hover { /* Navigation bar link hover effect */
    color: white;
    text-decoration: underline;
}
/* ---- Home Page ---- */
#homePageBody{ /* Home page body styling */
    display: grid;
    grid-template-columns: 50% 50%;
}

#homePageBody > img{ /* Home page image styling */
    grid-column-start: 1;
    grid-column-end: 2;
    align-items: center;
    height: 50%;
    margin: 25%;
}
 
#homePageBody > div{ /* Home page text styling */
    grid-column-start: 2;
    grid-column-end: 3;
    align-items: center;
    margin-top: 35%;
}
/* ---- Project Page ---- */
.project{ /* Project page styling */
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px, 100px, 100px;
    column-gap: 10px;
    row-gap: 5px;
    border-bottom: red solid 1px;
    background-color: rgb(12, 12, 12);
    margin: 10px;
    border-radius: 2.5%;
    width: 99%;
}

.project > h3{ /* Project title styling */
    grid-column: 1 / span 2;
}

.projectDescription{ /* Project description styling */
    margin: 4%;
}

.project > iframe{ /* Project embed styling */
    grid-row: 2 / span 2;
    border-radius: 5%;
    margin: 2.5%;

}

.projectTitle{ /* Project title styling */
    font-weight: 600;
    font-size: 25px;
    text-decoration: underline;
    margin: 1%;
}

.finalizedDate{ /* Porject finalized date styling */
    font-weight: 100;
    font-size: 15px;
    margin-top: 47%;
    margin-left: -3%;
    margin-right: 50%;
    text-align: right;
}

#projectPageInfo { /* Project page info styling */
    border-bottom: solid 1px red;
}

.project:hover { /* Project hover effect */
    background-color: rgb(20, 20, 20);
}

/*------*/
body > div > h2{ /* header styling */
    text-align: center;
    font-weight: 1000;
    font-size: 30px;
    margin-top: 20px;
}

/*---- Coming Soon ----*/
#conceptionPage{ /* Coming soon page styling */
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    
}

.announcing{ /* Announcing text styling */
    grid-column: 1 / span 2;
    text-align: center;
    background-color: rgb(7, 7, 7);
    border-top: solid 1px red;
}

.announcementCard{
    display: none;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    background-color: rgb(12, 12, 12);
    width: 75%;
    height: 300px;
    margin-left: 12.5%;
    margin-right: 12.5%;
    margin-bottom: 20px;
    border-radius: 5%;
    border-bottom: solid 1px red;
    
}

.announcementCard > h3{
    grid-column: 1 / span 2;
    text-align: center;
    font-weight: 1000;
    font-size: 30px;
    
}

.announcementDescription{
    text-align: center;
    grid-row: 2;
    grid-column: 2;
    width: 75%;
}

.announcementCard > img{
    grid-row: 2 / span 2;
    width: 55%;
    margin-left: 25%;
    border-radius: 7%;
}

.announcementDate{
    text-align: right;
    width: 100%;
    grid-column: 2;
    grid-row: 3;
    margin-top: 5%;
}

/* Development Section */
.development{
    display: grid;
    grid-template-columns: auto auto;
    background-color: rgb(7, 7, 7);
    border-bottom: solid 1px red;
}

.developmentCard{
    display: none;
    grid-column: 1 / span 2;
    background-color: rgb(12, 12, 12);
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    border-bottom: solid 1px red;
    border-radius: 5%;
    margin: 2%;
}

.developmentCard > img{
    width: 85%;
    margin: 5.5%;
    grid-row: 1 / span 2;
    border-radius: 7%;
}

.developmentCard > h3, p{
    width: 100%;
    text-align: center;
}

.development > h2{
    grid-column: 1 / span 2;
    text-align: center;
}
/* Ideas Section */
.ideas{ /* Ideas section styling */
    display: grid;
    grid-template-columns: auto auto;
    background-color: rgb(7, 7, 7);
    border-bottom: solid 1px red;
}

.ideas > h2{
    grid-column: 1 / span 2;
    text-align: center;
}

.ideaCard{ /* Idea card styling */
    display: none;
    grid-column: 1 / span 2;
    background-color: rgb(12, 12, 12);
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    border-radius: 5%;
    border-bottom: solid 1px red;
    margin: 2%;
}

.ideaCard > h3{
    text-align: center;
    grid-column: 1;
    width: 100%;
    margin-top: 10%;
}

h2{
    text-align: center;
    font-weight: 1000;
    font-size: 30px;
}

section > section:hover{
    background-color: rgb(20, 20, 20);
}

/* About Me Section */
#aboutPage{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    column-gap: 10px;
}

#irlPhoto{
    grid-column: 1;
    width: 100%;
    height: auto;
    padding:2px; 
}

#aboutText{
    grid-column: 2;
    padding: 10px;
    margin: 10px;
    background-color: rgb(12, 12, 12);
}

#contactList > li {
    list-style-type: none;
    align-items: center;
    margin-left: 45%;

}

.boutMeList > li{
    list-style-type: circle;
}

#contactList > li > a > img{
    width: 25px;
}

.practice {
    /* Project page styling */
    display: none;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px, 100px, 100px;
    column-gap: 10px;
    row-gap: 5px;
    border-bottom: red solid 1px;
    background-color: rgb(12, 12, 12);
    margin: 10px;
    border-radius: 2.5%;
    width: 99%;
}

.practice > h3 {
    /* Project title styling */
    grid-column: 1 / span 2;
}

.practiceDescription {
    /* Project description styling */
    margin: 4%;
}

.practice>iframe {
    /* Project embed styling */
    grid-row: 2 / span 2;
    border-radius: 5%;
    margin: 2.5%;

}

.practiceTitle {
    /* Project title styling */
    font-weight: 600;
    font-size: 25px;
    text-decoration: underline;
    margin: 1%;
}

.practiceDate {
    /* Porject finalized date styling */
    font-weight: 100;
    font-size: 15px;
    margin-top: 47%;
    margin-left: -3%;
    margin-right: 50%;
    text-align: right;
}

#practiceNote {
    /* Project page info styling */
    border-bottom: solid 1px red;
    padding-bottom: 10px;
}

.practice:hover {
    /* Project hover effect */
    background-color: rgb(20, 20, 20);
}